.button4 {
    display: inline-block;
    width: 280px;
    height: 70px;
    margin-top: 13px;
    text-align: center;
    text-decoration: none;
    outline: none;
    position: relative;
    z-index: 2;
    background-color: #fff;
    border: 2px solid #8FBC8F;
    color: #8FBC8F;
    line-height: 60px;
}

.button4:hover {
    background-color: #3CB371;
    border-color: #3CB371;
    color: #fff;
}

.button4::before,
.button4::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
}

.button4:hover {
    background-color: #3CB371;
    border-color: #3CB371;
    color: #fff;
}

.button4::before,
.button4::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #fff;
}



.button4::before {
    right: 0;
}
.button4::after {
    left: 0;
}
.button4:hover::before,
.button4:hover::after {
    width: 0;
    background-color: #8FBC8F;
}

.button4::before {
    right: 0;
}
.button4::after {
    left: 0;
}
.button4:hover::before,
.button4:hover::after {
    width: 0;
    background-color: #3CB371;
}
