/* mycss.css*/

html{
    height: 100%;/*
		   background-color: #F5DEB3;*/
    background-image: url(../pic/small_steps.png);
}

body{
    margin-bottom: 20px;
    height: 100%;
}

/* add */
.maincontents{
    width: 75%;
    margin-left: 15%;
    margin-right: 15%;
    height: 100%;
}


.threed{
    font-size: 78px;
    color: #fafafa;
    letter-spacing: 0;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135 }


/* add */


#listbutton{
    font-weight: bold;
    margin-top: 20px;
}

.header{
    height: 160px;
    width: 100%;/*
		  background-color: #ffbd20;*/
    background: -webkit-gradient(linear, left, left, color-stop(1.00, #ffbd20), color-stop(0.32, #ffffff));
    background: -webkit-linear-gradient(right, #ffffff 32%, #ffbd20 100%);
    background: -moz-linear-gradient(right, #ffffff 32%, #ffbd20 100%);
    background: -o-linear-gradient(right, #ffffff 32%, #ffbd20 100%);
    background: -ms-linear-gradient(right, #ffffff 32%, #ffbd20 100%);
    background: linear-gradient(right, #ffffff 32%, #ffbd20 100%);
    
}

#headTitle{
    float:left;
    margin:5px;
}

#locate{
    /*float:left;*/
    height: 20px;
    padding-top: 40px;
}

.buttonlist{
    margin-top: 5px;
    float: left;
    margin-right: 3px;
}


#pic{
    position: absolute;
    top: 5px;
    padding-top: 10px;
    margin-left: 83%;
}
#topContainer{
    min-height: 100%;
    height:100%;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 90%;
}
#container{
    min-height: 100%;
    height:100%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.LanguageID{
    font-size: 24px;
}
#topContents{
    min-height: 100%;
    height: 100%;
    width: 60%;
    margin: 0 auto;

}
#contents{
    margin-left: 360px;
}

#contents2{
    margin-left: 20px;
}

#back-top{
    margin-left: 800px;
}


#buttonlist{ padding-top:3px; }
#buttonlist form{ margin-top:-5px;}

#list{
    text-align:center;
    margin-left: 20px;
}
#list table{
    table-layout: auto;
    border-collapse: collapse;
    width: 930px;
    font-size: 22px;
}
#TheadArea{
    background-color: #ffee99;
    display:block;
    border: solid 3px;
    clear: both;
}
#TheadArea td{
    height: 40px;
    padding: 5px;
    border: solid 1px;
}
#TbodyArea{
    display:block;
    overflow-y:scroll;
    height:400px;
    background-color: #eeeeee;
    border: solid 3px;
    margin-top:3px
}

#TbodyArea td{
    border:1px dashed #bbbbbb;
    border-left:none;
    border-right:none;	
    padding: 10px;
    margin: auto;
}

#side{
    width:310px;
    float:left;
    font-size: 20px;
}


#side div{
}
#side div div{
    position:absolute;
    top:24px;left:20px;
    font-size: 18px;
}

#toplink{
    padding-left:3px;
    padding-bottom:15px;
}

#likeGater{
    background-image : url(../pic/side/side_base.png);
    background-repeat : no-repeat;
    background-position: center top;
    padding-left:26px;
}

